<svg:g>
  <svg:rect
    class="timeline-process__rect"
    [attr.x]="(timelineProcess.startTime/netEndTime)*100 + '%'"
    height="100"
    [attr.width]="((timelineProcess.endTime - timelineProcess.startTime)/netEndTime)*100 + '%'"
    fill="red">
  </svg:rect>
  <svg:text
    [attr.x]="(timelineProcess.startTime/netEndTime)*100 + '%'"
    font-size="16"
    y="115">
    {{ timelineProcess.label }}
  </svg:text>
</svg:g>
