<div
  class="timeline-page">
  <h3>timeline</h3>
  <div
    *ngIf="timeline$ | async as timelineReport">
    <h4>URL: {{ timelineReport.url }}</h4>
    <app-timeline-graph
      (eventFocus)="onEventFocus($event)"
      [timeline]="timelineReport.timeline">
    </app-timeline-graph>
    <mat-list>
      <h3
        mat-subheader>Events</h3>
      <mat-list-item
        *ngFor="let event of timelineReport.timeline"
        [class.timeline__event--focus]="event.id === focusedEvent">
        <h4
          mat-line>{{ event.label }} - {{ event.title }} ({{ event.displayValue || event.time }})</h4>
        <p
          mat-line>{{ event.description }}</p>
      </mat-list-item>
    </mat-list>
  </div>
</div>