<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Page Timeline</span>
    <span class="spacer"></span>
    <a
      mat-stroked-button
      [routerLink]="['reports']">
      Reports
    </a>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>