<mat-list>
    <h3
      mat-subheader>Local Reports</h3>
    <mat-list-item
      *ngFor="let report of reports$ | async">
      <a
        mat-button
        [routerLink]="['/timeline', report]">{{ report }}</a>
    </mat-list-item>
  </mat-list> 
  