<div
  class="l-container">
  <div
    class="reports__title-bar">
    <h2>Reports</h2>
  </div>
  <nav mat-tab-nav-bar>
    <a mat-tab-link
      routerLink="local"
      routerLinkActive
      #localLink="routerLinkActive"
      [active]="localLink.isActive">Local Reports</a>
    <a mat-tab-link
      routerLink="calibre"
      routerLinkActive
      #calibreLink="routerLinkActive"
      [active]="calibreLink.isActive">Calibre Reports</a>
  </nav>
  <router-outlet></router-outlet>
</div>