<p>timeline graph</p>
<svg
  class="timeline-graph__svg"
  width="100%"
  height="100">
  <svg:g>
    <svg:rect
      width="100%"
      y="10"
      height="80"
      rx="10"
      ry="10"
      fill="#B0BEC5">
    </svg:rect>
    <ng-container
      *ngFor="let event of timeline"
      [ngSwitch]="event.type">
      <g
        *ngSwitchCase="'process'"
        [timelineProcess]="event"
        [netEndTime]="endTime"></g>
      <g
        *ngSwitchCase="'milestone'"
        (eventFocus)="eventFocus.emit($event)"
        [timelineMilestone]="event"
        [netEndTime]="endTime"></g>
    </ng-container>
  </svg:g>
</svg>
