<mat-list>
    <div
      *ngIf="calibreInfo$ | async as calibreInfo"
      class="calibre-reports__calibre-info">
      <mat-form-field
        class="calibre-reports__calibre-slug">
        <input
            matInput
            placeholder="Calibre Site Slug"
            [value]="calibreInfo.slug"
            (input)="calibreInfo.slug = $event.target.value">
      </mat-form-field>
      <mat-form-field
        class="calibre-reports__calibre-secret">
        <input
          matInput
          placeholder="Calibre Secret"
          [value]="calibreInfo.secret"
          (input)="calibreInfo.secret = $event.target.value">
      </mat-form-field>
      <a
        mat-button
        [routerLink]="['/reports', 'calibre', calibreInfo.slug]"
        [queryParams]="{ secret: calibreInfo.secret }">
        Update
      </a>
    </div>
    <mat-list-item
      *ngFor="let report of reports$ | async">
      <a
        mat-button
        [routerLink]="['/timeline', 'calibre', report.site_id, report.id]"
        queryParamsHandling="preserve">Snapshot: {{ report.id }} - {{ report.generated_at | date:'medium' }}</a>
    </mat-list-item>
  </mat-list> 
  